.container {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: fit-content;
  color: white;
  border-radius: 12px;
  /* overflow: hidden; */
}

.title {
  background-color: gray;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  box-sizing: border-box;
}

.form {
  background-color: rgb(34 37 46);
  flex: 1;
  padding: 10px;
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 0px 0px 12px 12px;
}

.imageWrapper {
  position: relative;
  width: 134px;
  height: 134px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(32, 33, 38);
  border: 1px solid rgb(68, 69, 77);
}

.characterImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.element,
.path,
.rarity {
  position: absolute;
  background-color: rgba(32, 33, 38, 0.8);
  z-index: 2;
}

.element,
.path {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rarity {
  width: fit-content;
  height: fit-content;
  padding: 2px;
  border-radius: 10px;
  z-index: 2;
  font-size: 12px;
  color: yellow;
}

.element {
  bottom: 45px;
  left: 5px;
}

.path {
  bottom: 5px;
  left: 5px;
}

.rarity {
  bottom: 5px;
  right: 5px;
}

.element img,
.path img {
  object-fit: contain;
}

.element img {
  width: 20px;
  height: 20px;
}

.path img {
  width: 24px;
  height: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputWrapper span {
  margin: 0;
  font-weight: 600;
}

.inputWrapper input {
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgb(68, 69, 77);
  background-color: #202126;
  color: white;
  height: 30px;
  align-items: center;
  line-height: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 0.5rem;
  width: 100%;
}

.ascention,
.eidolon {
  max-width: 34px;
}

.level {
  max-width: 130px;
}
