.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: fit-content;
  color: white;
  border-radius: 12px;
  /* overflow: hidden; */
}

.title {
  background-color: gray;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  box-sizing: border-box;
}

.form {
  background-color: rgb(34 37 46);
  flex: 1;
  padding: 12px;
  display: flex;
  gap: 12px;
  box-sizing: border-box;
  border-radius: 0px 0px 12px 12px;
}

.imageWrapper {
  position: relative;
  width: 154px;
  height: 214px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgb(32, 33, 38);
  border: 1px solid rgb(68, 69, 77);
  padding: 4px;
}

.characterImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.path,
.rarity {
  position: absolute;
  background-color: rgba(32, 33, 38, 0.8);
  z-index: 2;
}

.path {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  left: 10px;
}

.rarity {
  width: fit-content;
  height: fit-content;
  padding: 2px;
  border-radius: 10px;
  z-index: 2;
  font-size: 12px;
  color: yellow;
  bottom: 10px;
  right: 10px;
}

.path img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}

.ascention,
.superposition {
  max-width: 34px;
}

.level {
  max-width: 116px;
}

.name {
  width: 200px;
}

.stats {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  color: rgb(204, 204, 204);
  gap: 12px;
  height: 76px;
}

.stats > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.stats p {
  margin: 0;
  font-size: 12px;
}

.statName {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  color: white;
}

.statName img {
  width: 14px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.stats hr {
  flex: 1;
  height: 1px;
  background-color: rgb(204, 204, 204);
  border: none;
  margin: 4px 0;
}
