@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");

body{
    font-family: 'Nunito';
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
    overflow: hidden;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}